/* *{
    text-decoration: none;
} */


body{
    font-style: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Arial",serif;
    letter-spacing: 0.5;
}
a {
    text-decoration: none;
}

.site-header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link{
    transition: opacity 0.4s ease;
}
.logo-link:hover{
    opacity: 0.8;
}
.logo-link:active{
    opacity: 0.6;
}
.site-header-nav{
    display: flex;
    align-items: center;
}
.sitenav-link{
    color: #000;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.4s ease,
        opacity 0.4s ease;
}
.sitenav-link:hover{
    color: #ff7500;
}
.sitenav-link:active{
    opacity: 0.6;
}
.sitenav-list{
    list-style: none;
    display: flex;
}
.main-link{
    color: #fff;
    background-color: #ff7500;
    font-size: 13px;
    line-height: 15px;
    transition: opacity 0.4s ease;
}
.main-link:hover{
    opacity: 0.8;
}
.main-link:active{
    opacity: 0.6;
}
.hero{
    background-color: #252420;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content{
    width: 390px;
}
.orange-line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}
.hero h2{
    font-size: 40px;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Ariel", sans-serif ;
}
.hero-img{
    width: 510px;
    height: 510px;
}
.features h2{
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    font-family: "Roboto Condensed", sans-serif;
}
.features-icon{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}
.features h3{
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto Condensed", sans-serif;
}
.features ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.features ul li {
    width: 340px;
}
.promo{
    background-color: #252420;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promo-content{
    width: 440px;
}
.promo-content h2{
    font-style: 40px;
    line-height: 48px;
    font-family: "Roboto Condensed", sans-serif;
}
.promo-highlight {
    color: #ff7500;
}
.promo-img{
    object-fit: cover;
}
.site-footer{
    background-color: #f8f8f8;
}
.site-footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-footer ul{
    list-style: none;
}
.ijtimoiy_tarmoqlar{
    display: flex;
    align-items: center;
}
.ijtimoiy_tarmoqlar a{
    color: #252420;
}
.ijtimoiy_tarmoqlar a:hover{
    color: #ff7500;
}
.ijtimoiy_tarmoqlar a:active{
    opacity: 0.6;
}
.site-footer-hr{
    background-color: rgba(37, 36, 32, 0.5);
    height: 2px;
}
.site-footer-links{
    display: flex;
}
.site-footer-links ul{
    width: 224px;
    line-height: 19px;
}
.site-footer-links a {
    color: #252420;
}
.site-footer-links a:hover{
    color: #ff7500;
}
.site-footer-links a:active{
    opacity: 0.6;
}